<style type='text/css'> 
  h1, h2, p {
    padding: 0;
    margin: 0;
    font: 1em/1.33 Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(54, 54, 54);
    margin: 1in 1in 1in 1.25in; /* Top, Right, Bottom, Left margins */
  }
  
  header, footer {
    background-color: rgb(54, 54, 54);
  }
  
  main, header, footer {
    color: rgb(255, 255, 255);
  }
  
  a:link {
    color: rgba(167, 124, 81, 0.925);
  }
  
  a:hover {
    color: rgb(207, 187, 151);
  }
  
  .dark-mode {
    background-color: #111;
    color: #eee;
  }
  
  .dark-mode header, .dark-mode footer {
    background-color: #222;
  }
  
  /* Rest of the styles... */
</style>
